# Папки сборки и компиляции
build/
bin/
obj/

# Результаты компиляции (артефакты)
*.o
*.obj
*.a
*.lib
*.so
*.dylib

# Исполняемые файлы
*.exe
*.out
*.app

# Временные файлы текстовых редакторов и ОС
.DS_Store
Thumbs.db

# Данные
*.csv
*.svg
*.txt